.white-popup {
	position: relative;
	background: #e5e5e5;
	padding: 20px;
	width: auto;
	margin: 20px auto;
	text-align: center;
	border-radius: 15px;
	display: inline-block;
}
.mfp-content {
	text-align: center;
}
.white-popup select {
	width: 360px;
	margin: 2px 0 2px 10px;
}

#reset {
	margin: 10px 50px 0 0;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

#confirm {
	padding-right: 10px;
	padding-left: 10px;
	height: 30px;
	margin-top: 10px;
}
#cat-container {
	display: flex;
}
.item {
	background-color: #fff;
	margin: 0 5px;
	-webkit-transition: 0.5s ease; /* Safari */
	transition: 0.5s ease;
}
.item ul {
	list-style: none;
	padding: 0;
	text-align: left;
	margin: 0;
}
.item ul li {
	padding: 8px;
}
li.selected {
	background-color: bisque;
}
.item ul li.parent:after {
	font-family: 'dashicons';
	content: "\f345";
	float: right;
	margin-left: 8px;
}
#cat-path {
	text-align: left;
	font-size: 1.5em;
}

#cat-path .parent:after {
	font-family: 'dashicons';
	content: "\f345";
	float: right;
	margin-left: 8px;
}
